/* Tables
================================== */
.table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0.5em 0em 0em 0em;
    padding: 0;
  }
  .table-cell {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    padding: 1.0em 1.0em;
    overflow: hidden;
    list-style: none;
    border: solid 3px white;
    background: rgba(112, 128, 144, 0.2);
    border-color: rgba(112, 128, 144, 0.2);
    color: white;
  }
  /* Table column sizing
  ================================== */
  .table--2cols > .table-cell {
    width: 50%;
  }
  .table--3cols > .table-cell {
    width: 33.33%;
  }
  .table--4cols > .table-cell {
    width: 25%;
  }
  .table--5cols > .table-cell {
    width: 20%;
  }
  .table--6cols > .table-cell {
    width: 16.6%;
  }

/* Cell styles
================================== */
.table-cell--completed {
  background-color: #265c1d;
  border-color: #265c1d;
}
.table-cell--not-startable {
  background-color: #d51414;
  border-color: #d51414   ;
}
.table-cell--not-started {
  border-color: #2D70B6;
  background-color: #2D70B6;
}
.table-cell--started {
  border-color: #ed9f2a;
  background-color: #ed9f2a;
}

.table-cell--header {
  border-color: rgb(33, 37, 41);
  background-color: rgb(33, 37, 41);
}